<!DOCTYPE html>
<html lang="en">
<head>
  <th:block th:replace="~{index/head.html::indexHead}"></th:block>
</head>
<body>
  <div class="form-block">
    <div class="form-block-inner">
      <form th:action="@{/registration}" th:object="${userRegistrationDto}" method="post" enctype="multipart/form-data">
          <h1 class="center" th:text="${title}"></h1>

          <!-- error message -->
          <div th:if="${param.error}">
              <div class="red">Не верный логин или пароль</div>
          </div>

          <div th:if="${registrationError}">
              <div class="red" th:text="${registrationError}"></div>
          </div>

          <div class="horizontal-field">
            <label for="email">E-mail (используется в качестве логина)</label>
            <input type="text" name="email" id="email" th:field="*{email}" required />
            <div class="red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
          </div>

          <div class="horizontal-field">
            <label for="pass">Пароль</label>
            <input type="password" name="password" id="pass" th:field="*{password}" required />
            <div class="red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          </div>

          <div class="center horizontal-field">
            <input type="submit" value="Зарегистрироваться" class="registration-button" />
          </div>
      </form>
    </div>
  </div>
</body>
</html>
