.agty-dialog {
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 9999;
}

.agty-dialog {
    .agty-dialog-block {
        width: 1024px;
        height: 768px;
        margin: auto;
        z-index: 99999;
        background-color: rgba(0, 0, 0, 0.75);
        border: 1px #4E2100FF solid;
    }

    .agty-dialog-head {
        padding: 5px 7px 5px 7px;
        font-size: 14px;
        color: #fff;
        background: linear-gradient(#4e2100, #612a00);
        line-height: 25px;
        height: 25px;
    }

    .agty-dialog-head-buttons {
        float: right;
        height: 25px;
    }

    .agty-dialog-head-buttons .agty-dialog-head-buttons-button {
        width: 25px;
        line-height: 23px;
        text-align: center;
        color: #ff6c00;
        border: 1px #bf4f01 solid;
    }

    .agty-dialog-head-buttons .agty-dialog-head-buttons-button:hover {
        border: 1px #c16e33 solid;
        background-color: #471f00;
        cursor: default;
    }

    .agty-dialog-content {
        padding: 15px;
        height: calc(100% - 90px);
        overflow-y: auto;
        font-size: 14px;
    }

    .agty-dialog-status {
        border-top: 1px #bf4f01 solid;
        padding: 5px 7px 5px 7px;
        font-size: 12px;
        color: #bf4f01;
    }
}

.agty-dialog-nodisplay {
    display: none;
}