<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{index/head.html::indexHead}"></th:block>
    <link rel="stylesheet" href="/modules/express/css/express.css?v116" data-precedence="next"/>
    <script src="/modules/express/js/express.js?v116"></script>
    <script>
        $(function() {
            formInit();
        });
    </script>
</head>
<body>
    <div class="form-block">
        <div class="form-block-inner">
            <form method="post" th:object="${expressPanelDto}" enctype="multipart/form-data">
                <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <h1 class="center" th:text="${title}"></h1>
                <div class="table tableVertical">
                    <div class="tableTR">
                        <div class="tableTD0 tableTDwidth150 form-title">Группа</div>
                        <div class="tableTD0 form-title">
                            <span class="inline-block">
                                <img src="/modules/express/img/directory.svg" height="25" alt="dir" class="absmiddle" />
                                <span th:text="${group.title}"></span>
                            </span>
                        </div>
                    </div>
                    <div class="tableTR">
                        <div class="tableTD0 tableTDwidth150 form-title">Наименование</div>
                        <div class="tableTD0">
                            <input type="text" th:field="*{title}" />
                            <span class="error-block"
                                  th:if="${#fields.hasErrors('title')}"
                                  th:errors="*{title}"></span>
                        </div>
                    </div>

                    <div class="tableTR">
                        <div class="tableTD0 tableTDwidth150 form-title">Описание</div>
                        <div class="tableTD0">
                            <input type="text" th:field="*{about}" />
                        </div>
                    </div>

                    <div class="tableTR">
                        <div class="tableTD0 tableTDwidth150 form-title">Тип</div>
                        <div class="tableTD0">
                            <select th:field="*{idType}" OnChange="changePanelType()">
                                <option th:each="type : ${expressTypes}" th:value="${type.getIdType()}" th:text="${type.getTitle()}">
                            </option>
                                <div class="error-block"
                                      th:if="${#fields.hasErrors('idType')}"
                                      th:errors="*{idType}"></div>
                        </select>
                        </div>
                    </div>


                    <div data-id="express-add-type-element" data-id-type="1" th:class="${expressPanelDto.idType != null && expressPanelDto.idType != 1} ? 'tableTR nodisplay' : 'tableTR'">
                        <div class="tableTD0 tableTDwidth150 form-title">Ссылка</div>
                        <div class="tableTD0">
                            <input type="text" th:field="*{uri}" />
                            <span class="error-block"
                                  th:if="${#fields.hasErrors('uri')}"
                                  th:errors="*{uri}"></span>
                        </div>
                    </div>

                    <div data-id="express-add-type-element" data-id-type="2" th:class="${expressPanelDto.idType != 2} ? 'tableTR nodisplay' : 'tableTR'">
                        <div class="tableTD0 tableTDwidth150 form-title">Содержание</div>
                        <div class="tableTD0">
                            <textarea th:field="*{body}" class="textarea"></textarea>
                            <div class="error-block"
                                  th:if="${#fields.hasErrors('body')}"
                                  th:errors="*{body}"></div>
                        </div>
                    </div>

                    <div th:if="${expressPanelDto.getFiles()} != null AND ${expressPanelDto.getFiles().isEmpty()} != true" th:class="${expressPanelDto.idType != 3} ? 'tableTR nodisplay' : 'tableTR'">
                        <div class="tableTD0 tableTDwidth150 form-title">Прикрепленные файлы</div>
                        <div class="tableTD0">
                            <div th:each="file : ${expressPanelDto.getFiles()}" class="inline-block">
                                <a th:href="@{'/content/files/' + ${file.getFile()}}" th:text="${file.getName()}" target="_blank" class="uploaded-file"></a>
                            </div>
                        </div>
                    </div>

                    <div data-id="express-add-type-element" data-id-type="3" th:class="${expressPanelDto.idType != 3} ? 'tableTR nodisplay' : 'tableTR'">
                        <div class="tableTD0 tableTDwidth150 form-title">Прикрепить файл</div>
                        <div class="tableTD0">
                            <input type="file" th:field="*{attachments}" />
                        </div>
                    </div>

                    <div class="tableTR">
                        <div class="tableTD0 tableTDwidth150"></div>
                        <div class="tableTD0 center">
                            <a class="submit" th:href="@{'/express/' + ${group.getIdGroup()}}">Отмена</a>
                            <input type="submit" value="Сохранить" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
